/* General */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
  /*margin-bottom: 60px;*/
  background-color: #495057;
  height: 100vh;
}

main {
    margin-top: 80px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#main-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.form-control {
    max-width: 200px;
}

#habit-dropdown, #habit-dropdown-filter {
    padding-top: 24px;
}

#add-habit-button, #add-record-button, #modal-save-button {
    background-color: #014000;
    border-color: #014000;
}

#add-habit-button:hover, #add-record-button:hover, #modal-save-button:hover {
    background-color: #012e00;
    border-color: #012e00;
}

#habit-warning {
    font-size: 12px;
}

#delete-habit-button, #delete-record-button {
    background-color: #6C2126;
    border-color: #6C2126;
}

#delete-habit-button:hover, #delete-record-button:hover {
    background-color: #4f161a;
    border-color: #4f161a;
}

#filter-button, #filter-button-revert, #dropdown-order {
    margin-bottom: 20px;
}

#order-apply-button, #order-asc-desc-buttons {
    display: none;
}

#table-container {
    max-height: 60vh;
    overflow-y: scroll;
}

/* Side navbar **/
#navbar-column {
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;

    

    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

#navbar {
    width: 300px;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.nav-item {
    font-size: 18px;
    padding: 10px;
}

.nav-item:hover {
    background-color: lightgray;
    color: black;
}

/* Modals */
.modal-header, .modal-footer {
    border: none;
}

.modal-content {
    background-color: #495057;
}