html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
  /*margin-bottom: 60px;*/
  background-color: #495057;
  height: 100vh;
}

main {
    margin-top: 50px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#main-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#navbar-column {
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.nav-item:hover {
    background-color: lightgray;
    color: black;
}